body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #3A3B3C;
}

code {
  font-family: sans-serif, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
